// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
$govuk-font-family: "Open Sans", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$reading-blue: #2B63BD;

.reading-banner-img {
  width: 100%;
  display: block;
}

.reading-banner {
  position: relative;
  background: #3A84FA;
  height: 300px;
}

.reading-banner-content {
  position: relative;
  padding: 2rem 8rem;
}

.reading-bg-grey {
  background: #F2F2F2;
}

.reading-search-input {
  padding-top: 2rem;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;

  .reading-input {
    border-width: 1px;
    font-weight: 600;
    padding: 10px;
    font-size: 1.5rem;
    height: auto;
  }

  .reading-search-icon {
    background: $reading-blue;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      height: 20px;
    }
  }
}

.reading-card {
  background-color: $reading-blue;
  padding: 16px 20px 28px;
  border-radius: 6px;
  height: 240px;

  .govuk-list {
    font-size: 1rem;
    font-weight: 600;
  }

  .govuk-heading-m {
    font-size: 1.85rem;
  }

  .govuk-heading-m, .govuk-link, a, .app-step-nav-header__title, .app-step-nav-related__link {
    color: white;

    &:visited {
      color: white;
    }
  }

  .govuk-list > li {
    margin-bottom: 15px;
  }
}

