// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
$govuk-font-family: "Open Sans", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

.reading-banner-img {
  width: 100%;
  display: block;
}

.reading-banner {
  position: relative;
  background-image: url("https://images.reading.gov.uk/2020/06/TownHall.jpg");
  background-position: center center;
  background-size: cover;
  height: 300px;
}

.reading-banner-shadow {
  position: absolute;
  left: 0%;
  right: 56.51%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(90.02deg, rgba(0, 0, 0, 0.55) 50%, rgba(0, 0, 0, 0) 72.85%);
}

.reading-banner-content {
  position: relative;
  padding: 2rem 8rem;
}

.reading-search-input {
  padding-top: 2rem;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;

  .reading-input {
    border-width: 1px;
    font-weight: 600;
    padding: 10px;
    font-size: 1.5rem;
    height: auto;
  }

  .reading-search-icon {
    background: #2E65B7;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      height: 20px;
    }
  }
}

