// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
$govuk-font-family: "Open Sans", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$reading-blue: #2B63BD;
$reading-dark-blue: #475976;
$reading-black: #222222;
$reading-bright-blue: #3A84FA;

.reading-banner-img {
  width: 100%;
  display: block;
}

.reading-banner {
  background: #3A84FA;
}

.reading-logo {
  @include govuk-media-query($until: tablet) {
    width: 160px;
  }
  width: 240px;
}

.reading-bg-grey {
  background: #F2F2F2;
}

.reading-bg-dark-blue {
  background: $reading-dark-blue;
}

.reading-bg-black {
  background: $reading-black;
}

.reading-text-blue {
  color: $reading-blue;
}

.reading-text-white {
  color: white;
}

.reading-search-input {
  padding-top: 2rem;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;

  @include govuk-media-query($until: tablet) {
    margin-left: 5px;
    margin-right: 5px;
  }

  .reading-input {
    border-width: 1px;
    font-weight: 600;
    padding: 10px;
    font-size: 1.5rem;
    height: auto;

    @include govuk-media-query($until: tablet) {
      font-size: 1rem;
    }
  }

  .reading-search-icon {
    background: $reading-blue;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @include govuk-media-query($until: tablet) {
      width: 2.5rem;
    }

    img {
      height: 20px;

      @include govuk-media-query($until: tablet) {
        height: 15px;
      }
    }
  }
}

.reading-card {
  background-color: $reading-blue;
  padding: 16px 20px 28px;
  border-radius: 6px;
  height: 240px;

  @include govuk-media-query($until: tablet) {
    height: 210px;
  }

  .govuk-list {
    font-size: 1rem;
    font-weight: 600;
  }

  .govuk-heading-m {
    font-size: 1.85rem;
  }

  .govuk-heading-m {
    color: white;
  }

  .govuk-list > li {
    margin-bottom: 15px;
  }
}

.reading-subscribe-input {

  @include govuk-media-query($from: tablet) {
    display: flex;
  }

  .reading-input {
    height: auto;
  }

  .govuk-button {
    background-color: $reading-bright-blue;
    border-radius: 6px;
    box-shadow: none;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0;

    @include govuk-media-query($from: tablet) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}

.reading-footer {
  background: $reading-black;
}

