
{% extends "layout_reading.html" %}

{% block pageTitle %}
  Change of address | Reading Borough Council
{% endblock %}

{% block content %}

    <h2 class="govuk-heading-s">
      <a href="/#our-services" class="govuk-link--no-visited-state">Our Services</a>
    </h2>

    <h1 class="govuk-heading-xl">
      <img src="/public/images/icons/CT-black.svg">
      Change of address
    </h1>

    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="https://reading-self.test.achieveservice.com/service/Moving_into_Reading___Council_Tax__prototype_" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Moving into reading</h3>
          </a>
          <p>If you're new to Reading or if this is the first time you're registering to pay Council Tax</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Moving out of Reading</h3>
          </a>
          <p>If you're already registered but moving out of Reading</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Moving out of Reading and in receipt of Housing Benefit</h3>
          </a>
          <p>If you're already registered and receive Housing Benefit but are moving out of Reading</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Landlords - tenants moving in or out</h3>
          </a>
          <p>If you're a landlord and have tenants moving in or out of your property in Reading</p>
        </article>
      </div>


{% endblock %}
