
{% extends "layout_reading.html" %}

{% block pageTitle %}
  Change of address | Reading Borough Council
{% endblock %}

{% block content %}

    <h2 class="govuk-heading-s">
      <a href="/#our-services" class="govuk-link--no-visited-state">Our Services</a>
    </h2>

    <h1 class="govuk-heading-xl">
      <img src="/public/images/icons/CT-black.svg">
      Change of address
    </h1>

    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-quarter">
        <article class="govuk-!-padding-bottom-4">
          <a href="/council-tax" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Moving into reading</h3>
          </a>
          <p>Includes payments, bands, change of circumstance, exemptions and discounts</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Moving around Reading</h3>
          </a>
          <p>Apply for a school place, check school holidays and closures, and find out about transport and free school meals</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Moving out of Reading and in receipt of Housing Benefit</h3>
          </a>
          <p>Find out about activities for children, childcare, adoption, fostering and keeping children safe</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Landlords - tenants moving in or out</h3>
          </a>
          <p>Find out about activities for children, childcare, adoption, fostering and keeping children safe</p>
        </article>
      </div>


{% endblock %}
