
{% extends "layout_reading.html" %}

{% block pageTitle %}
  Council Tax | Reading Borough Council
{% endblock %}

{% block content %}

    <h2 class="govuk-heading-s">
      <a href="/#our-services" class="govuk-link--no-visited-state">Our Services</a>
    </h2>

    <h1 class="govuk-heading-xl">
      <img src="/public/images/icons/CT-black.svg">
      Council Tax
    </h1>

    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="/council-tax" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">How to pay and access your account</h3>
          </a>
          <p>Includes payments, bands, change of circumstance, exemptions and discounts</p>
        </article>

        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">How we use your money</h3>
          </a>
          <p>Housing for council tenants, private tenants and landlords</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Council Tax bands 2020/2021</h3>
          </a>
          <p>Apply for a school place, check school holidays and closures, and find out about transport and free school meals</p>
        </article>

        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Help with your council tax</h3>
          </a>
          <p>Register births and deaths, book ceremonies and find out how to become British and settle in the UK</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Council Tax discounts and exemptions</h3>
          </a>
          <p>Find out about activities for children, childcare, adoption, fostering and keeping children safe</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="/change-of-address" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Change of address</h3>
          </a>
          <p>Find out about activities for children, childcare, adoption, fostering and keeping children safe</p>
        </article>
      </div>


{% endblock %}
