
{% extends "layout_reading.html" %}

{% block pageTitle %}
  Council Tax | Reading Borough Council
{% endblock %}

{% block content %}

    <h2 class="govuk-heading-s">
      <a href="/#our-services" class="govuk-link--no-visited-state">Our Services</a>
    </h2>

    <h1 class="govuk-heading-xl">
      <img src="/public/images/icons/CT-black.svg">
      Council Tax
    </h1>

    <div class="govuk-grid-row govuk-!-padding-bottom-9">
      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="/council-tax" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">How to pay and access your account</h3>
          </a>
          <p>Register for an account or log in to make a payment</p>
        </article>

        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">How we use your money</h3>
          </a>
          <p>Find out how your Council Tax payments are used in Reading</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Council Tax charges and bands</h3>
          </a>
          <p>Check your Council Tax band to find out how much you have to pay</p>
        </article>

        <article class="govuk-!-padding-bottom-4">
          <a href="" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Get help with your Council Tax</h3>
          </a>
          <p>Find out about Council Tax Support, discounts and exemptions</p>
        </article>
      </div>

      <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
        <article class="govuk-!-padding-bottom-4">
          <a href="/change-of-address" class="govuk-link govuk-link--no-visited-state">
            <h3 class="govuk-heading-m reading-text-blue">Change of address</h3>
          </a>
          <p>Tell us if you or your tenants are moving into, around or out of Reading</p>
        </article>
      </div>


{% endblock %}
