
{% extends "layout_reading.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = '' %}
{% set mainClasses = '' %}

{% block content %}

  <section class="govuk-main-wrapper govuk-main-wrapper--auto-spacing reading-bg-grey">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        What do you need to do today?
      </h1>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Apply
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">Jobs</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Housing benefit</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Planning permission</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Bus pass</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Council Tax discount</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Pay
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">Parking ticket</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Certificates of births, deaths and marriages</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Ceremonies</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Council Tax</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Request
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">Building Inspection</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Bin collection day</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Business bulky waste collection</a>
              </li>
              <li>
                <a class="govuk-link" href="#">New waste or recycling bin</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Report
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">Potholes and street problems</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Faulty street light</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Safeguarding concern</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Faulty traffic light</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Change of address</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-width-container">
      <span class="govuk-caption-l">
        Our services
      </span>

      <h1 class="govuk-heading-xl">
        Our services
      </h1>
    </div>
  </section>

{% endblock %}
