
{% extends "layout_reading.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set containerClasses = '' %}
{% set mainClasses = '' %}

{% block content %}

  <section class="govuk-main-wrapper govuk-main-wrapper--auto-spacing reading-bg-grey">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        What do you need to do today?
      </h1>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Apply
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Jobs</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Housing benefit</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Planning permission</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Bus pass</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Council Tax discount</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Pay
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Parking ticket</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Certificates of births, deaths and marriages</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Ceremonies</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Council Tax</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Request
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Building Inspection</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Bin collection day</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Business bulky waste collection</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">New waste or recycling bin</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="reading-card">
            <h2 class="govuk-heading-m">
              Report
            </h2>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Potholes and street problems</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Faulty street light</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Safeguarding concern</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Faulty traffic light</a>
              </li>
              <li>
                <a class="govuk-link govuk-link--inverse" href="#">Change of address</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-services" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-width-container">
      <span class="govuk-caption-l">
        Our services
      </span>

      <h1 class="govuk-heading-xl">
        Our services
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <article class="govuk-!-padding-bottom-4">
            <a href="/council-tax" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/CT.svg">
              <h3 class="govuk-heading-m reading-text-blue">Council tax</h3>
            </a>
            <p>Includes payments, bands, change of circumstance, exemptions and discounts</p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/housing.svg">
              <h3 class="govuk-heading-m reading-text-blue">Housing</h3>
            </a>
            <p>Housing for council tenants, private tenants and landlords</p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/transport.svg">
              <h3 class="govuk-heading-m reading-text-blue">Transport</h3>
            </a>
            <p>Get the latest updates on roadworks, Blue Badge, parking fines and permits, cycling and road improvement schemes</p>
          </article>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/children.svg">
              <h3 class="govuk-heading-m reading-text-blue">Children and education</h3>
            </a>
            <p>Apply for a school place, check school holidays and closures, and find out about transport and free school meals</p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/life-events.svg">
              <h3 class="govuk-heading-m reading-text-blue">Life events</h3>
            </a>
            <p>Register births and deaths, book ceremonies and find out how to become British and settle in the UK</p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/leisure.svg">
              <h3 class="govuk-heading-m reading-text-blue">Leisure</h3>
            </a>
            <p>
              Leisure and attractions
              <br>
              Get involved in local sport and events, and enjoy museums, parks and the countryside
            </p>
          </article>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/family.svg">
              <h3 class="govuk-heading-m reading-text-blue">Children and families</h3>
            </a>
            <p>Find out about activities for children, childcare, adoption, fostering and keeping children safe</p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/adult-care.svg">
              <h3 class="govuk-heading-m reading-text-blue">Adult care</h3>
            </a>
            <p>
              Health and social care
              <br>
              Find out about social care and health services for adults and how to access them
            </p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/planning.svg">
              <h3 class="govuk-heading-m reading-text-blue">Planning</h3>
            </a>
            <p>Apply for planning permission, appeal an existing planning application and read Leeds building regulations and conservation policies</p>
          </article>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/bins.svg">
              <h3 class="govuk-heading-m reading-text-blue">Bins, recycling and street care</h3>
            </a>
            <p>Bin collections, what to do with unwanted items and how to recycle</p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/business.svg">
              <h3 class="govuk-heading-m reading-text-blue">Business</h3>
            </a>
            <p>Pay business rates, apply for licenses and find land and property for sale or to let</p>
          </article>

          <article class="govuk-!-padding-bottom-4">
            <a href="" class="govuk-link govuk-link--no-visited-state">
              <img src="/public/images/icons/business.svg">
              <h3 class="govuk-heading-m reading-text-blue">Council and democracy</h3>
            </a>
            <p>View data and council strategies and take part in consultations and elections</p>
          </article>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
