
{% extends "layout_reading.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">
        <a href="/docs/tutorials-and-examples" class="govuk-link--no-visited-state">Our Services</a>
      </h2>

      <h1 class="govuk-heading-xl">
        Council Tax
      </h1>
      <p>
        You haven't signed up for an online Council Tax account yet.
        <br>
        After you register you can pay your bills online, report a change of circumstance and apply for exemptions and discounts.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
