{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/reading.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="reading-banner">

    <div class="reading-banner-content">

      <img src="/public/images/reading-logo.svg" alt="" class="">

      <div class="reading-search-input">
        <input class="reading-input govuk-input" id="event-name" name="event-name" type="text" placeholder="Search for services or general information">
        <span class="reading-search-icon">
          <img src="/public/images/search.svg" alt="">
        </span>
      </div>
    </div>
  </div>
{% endblock %}

{% set containerClasses = containerClasses | default("govuk-width-container") %}
{% set mainClasses = mainClasses | default("govuk-main-wrapper govuk-main-wrapper--auto-spacing") %}

{% block main %}

  <div class={{containerClasses}}>
    <main class={{mainClasses}} id="main-content" role="main">

      {% block beforeContent %}
      {% endblock %}

      {% block content %}
      {% endblock %}

    </main>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
