{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/reading.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="reading-banner govuk-!-padding-top-9 govuk-!-padding-bottom-9">

    <div class="govuk-width-container reading-banner-content">


      <a href="/">
        <img src="/public/images/reading-logo.svg" alt="Reading Borough Council logo" class="reading-logo">
      </a>

      <div class="reading-search-input">
        <input class="reading-input govuk-input" id="event-name" name="event-name" type="text" placeholder="Search for services or information">
        <span class="reading-search-icon">
          <img src="/public/images/search.svg" alt="">
        </span>
      </div>
    </div>
  </div>
{% endblock %}

{% set containerClasses = containerClasses | default("govuk-width-container") %}
{% set mainClasses = mainClasses | default("govuk-main-wrapper govuk-main-wrapper--auto-spacing") %}

{% block main %}

  <div class={{containerClasses}}>
    <main class={{mainClasses}} id="main-content" role="main">

      {% block beforeContent %}
      {% endblock %}

      {% block content %}
      {% endblock %}

    </main>
  </div>
{% endblock %}

{% block footer %}
  <section class="reading-bg-dark-blue">
    <div class="govuk-width-container govuk-!-padding-top-9 govuk-!-padding-bottom-9">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h4 class="govuk-heading-l reading-text-white govuk-!-margin-bottom-3">Sign up to receive our newsletter</h4>
          <p class="reading-text-white govuk-!-margin-bottom-5">Get the latest news and information about your council services</p>

          <div class="reading-subscribe-input">
            <input class="reading-input govuk-input" id="event-name" name="event-name" type="text" placeholder="Enter your email address">
            <button class="govuk-button" data-module="govuk-button">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="reading-footer">
    <div class="govuk-width-container govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
          <div class="govuk-!-margin-bottom-6">
            <h6 class="govuk-heading-s reading-text-white govuk-!-margin-bottom-4">About Our Council</h6>
            <p class="reading-text-white">Accessibility</p>
            <p class="reading-text-white">Borough Profile</p>
            <p class="reading-text-white">Our Mayor</p>
            <p class="reading-text-white">Staff Structure & Salaries</p>
            <p class="reading-text-white">Policies, finance and legal information</p>
            <p class="reading-text-white">Reading Together</p>
            <p class="reading-text-white">Media centre</p>
            <p class="reading-text-white">Contact Us</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
          <div class="govuk-!-margin-bottom-6">
            <h6 class="govuk-heading-s reading-text-white govuk-!-margin-bottom-3">Safeguarding</h6>
            <p class="reading-text-white">Report a concern about a child</p>
            <p class="reading-text-white">Report a concern about an adult</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
          <div class="govuk-!-margin-bottom-6">
            <h6 class="govuk-heading-s reading-text-white govuk-!-margin-bottom-3">Social media</h6>
            <p class="reading-text-white">Twitter</p>
            <p class="reading-text-white">Facebook</p>
            <p class="reading-text-white">Instagram</p>
            <p class="reading-text-white">YouTube</p>
            <p class="reading-text-white">LinkedIn</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
          <div class="govuk-!-margin-bottom-6">
            <h6 class="govuk-heading-s reading-text-white govuk-!-margin-bottom-3">Language</h6>
            <select>
              <option>Select Language</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
